@import 'abstracts/_abstracts';

.sg-menu-section {
  padding-left: 5px;
  list-style-type: none;
}

.sg-menu-item {
  padding-left: 20px;
  padding-bottom: 10px;
  list-style-type: none;
}

.sg-menu-anchor {
  text-decoration: none;
  color: color('grey', 'dark');
  font-size: 20px;

  &:hover {
    color: color('black');
  }
}

.sg-menu-anchor-parent {
  display: inline-block;
  padding-bottom: 10px;
}
