@import 'abstracts/_abstracts';

.sg-menu-section {
  list-style-type: none;
}

.sg-menu-item {
  padding-bottom: 10px;
  list-style-type: none;
}

.sg-menu-anchor {
  text-decoration: none;
  color: color('grey', 'dark');
  font-size: 20px;

  &:hover {
    color: color('black');
  }
}

.sg-menu-anchor-parent {
  padding-bottom: 10px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f0f0f5;
    position: fixed;
    width: 200px;
    top: 0;
    bottom: 0;
}

.main {
    grid-area: main;
    background-color: white;
    color: color('black');
    max-width: 1000px;
    margin: 50px;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-gap: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
      "sidebar main";
}

.sg-logo {
  width: 100px;
  padding-bottom: 10px;
}
