.hamburger__container {
  height: 100%;
  cursor: pointer;
  background-color: color('grey','x-light');
  padding: 3px;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: color('black');
  margin: 6px auto 6px auto;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 7px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -7px) ;
}
