
.sg-base-color {
  margin-bottom: 20px;
}

.sg-color-para {
  margin-bottom: 0;
}

.color-palette {
  display: flex;
  justify-content: center;
}
.palette {
  margin: 10px;
  width: 50px;
  flex: 0 0 120px;
}
.tone {
  text-align: center;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.black {
  background-color: #000;
  color: #FFF;
}
.white {
  background-color: #FFF;
  border: 1px grey solid;
}
.purple {
  background-color: #60C;
  color: #FFF;
}
.purplelight {
  background-color: #D9B3FF;
}
.purpledark {
  background-color: #4D0099;
  color: #FFF;
}
.grey {
  background-color: #BFBFBF;
}
.greyxlight {
  background-color: #F2F2F2;
}
.greylight {
  background-color: #D9D9D9;
}
.greydark {
  background-color: #8C8C8C;
  color: #FFF;
}
.greydarker {
  background-color: #666;
  color: #FFF;
}
.green {
  background-color: #0C4;
}
.greenlight {
  background-color: #9FB;
}
.greendark {
  background-color: #062;
  color: #FFF;
}
.blue {
  background-color: #00F;
  color: #FFF;
}
.bluelight {
  background-color: #D6D6FF;
}
.bluedark {
  background-color: #4C4C7F;
  color: #FFF;
}
