
.sg-flex--main-axis-spacearound {
  justify-content: space-around;
}

.sg-flex--cross-axis-center {
  align-items: center;
}

.sg-sectionborder {
  border: 1px #D9D9D9 solid;
}

.sg-paddingleft--small {
  padding-left: 5px !important;
}

.sg-paddingleft--medium {
  padding-left: 10px !important;
}

.sg-paddingleft--large {
  padding-left: 20px !important;
}

.sg-paddingright--small {
  padding-right: 5px !important;
}

.sg-paddingright--medium {
  padding-right: 10px !important;
}

.sg-paddingright--large {
  padding-right: 20px !important;
}

.sg-paddingtop--large {
  padding-top: 20px !important;
}

.sg-paddingbottom--medium {
  padding-bottom: 10px !important;
}

.sg-paddingbottom--large {
  padding-bottom: 20px !important;
}

.sg-padding--small {
  padding: 5px !important;
}

.sg-padding--medium {
  padding: 10px !important;
}

.sg-padding--large {
  padding: 20px !important;
}

.sg-margin-bottom--medium {
  margin-bottom: 10px !important;
}

.sg-margin-bottom--none {
  margin-bottom: 0 !important;
}

.sg-margin--medium {
  margin: 10px !important;
}
