@import 'abstracts/_abstracts';

.sg-utility {
  background-color: red;
  height: 100px;
  width: 100px;
}

.sg-utility-box
{
  padding: 10px;
  background-color: color('grey', 'x-light');
  width: 100%;
}

.sg-utility-block {
  width: 100px;
  height: 100px;
  background-color: red;
}
