@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
�  v2.0b1 | 201101 
�  NOTE: WORK IN PROGRESS
�  USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

﻿:root {
  font-size: 100%; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

p,
ul,
ol,
div,
section {
  margin-bottom: 1.5rem; }

body {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  margin-bottom: 1.5rem;
  font-family: Arial, 'Times New Roman', Times, serif;
  background-color: white;
  color: black; }
  @media (min-width: 37.5em) {
    body {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media (min-width: 37.5em) {
    body {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media (min-width: 56.25em) {
    body {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media (min-width: 75em) {
    body {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media (min-width: 100em) {
    body {
      font-size: 1rem;
      line-height: 1.5rem; } }

.header1 {
  font-size: 2.441rem;
  line-height: 4.5rem;
  margin-bottom: 3rem;
  font-weight: bold; }
  @media (min-width: 37.5em) {
    .header1 {
      font-size: 2.441rem;
      line-height: 4.5rem; } }
  @media (min-width: 37.5em) {
    .header1 {
      font-size: 2.441rem;
      line-height: 4.5rem; } }
  @media (min-width: 56.25em) {
    .header1 {
      font-size: 3.157rem;
      line-height: 4.5rem; } }
  @media (min-width: 75em) {
    .header1 {
      font-size: 5.063rem;
      line-height: 4.5rem; } }
  @media (min-width: 100em) {
    .header1 {
      font-size: 5.063rem;
      line-height: 4.5rem; } }

.header2 {
  font-size: 1.953rem;
  line-height: 3rem;
  margin-bottom: 3rem; }
  @media (min-width: 37.5em) {
    .header2 {
      font-size: 1.953rem;
      line-height: 3rem; } }
  @media (min-width: 37.5em) {
    .header2 {
      font-size: 1.953rem;
      line-height: 3rem; } }
  @media (min-width: 56.25em) {
    .header2 {
      font-size: 2.369rem;
      line-height: 3rem; } }
  @media (min-width: 75em) {
    .header2 {
      font-size: 3.375rem;
      line-height: 3rem; } }
  @media (min-width: 100em) {
    .header2 {
      font-size: 3.375rem;
      line-height: 3rem; } }

.header3 {
  font-size: 1.563rem;
  line-height: 3rem;
  margin-bottom: 1.5rem; }
  @media (min-width: 37.5em) {
    .header3 {
      font-size: 1.563rem;
      line-height: 3rem; } }
  @media (min-width: 37.5em) {
    .header3 {
      font-size: 1.563rem;
      line-height: 3rem; } }
  @media (min-width: 56.25em) {
    .header3 {
      font-size: 1.777rem;
      line-height: 3rem; } }
  @media (min-width: 75em) {
    .header3 {
      font-size: 2.25rem;
      line-height: 3rem; } }
  @media (min-width: 100em) {
    .header3 {
      font-size: 2.25rem;
      line-height: 3rem; } }

.header4 {
  font-size: 1.25rem;
  line-height: 3rem;
  margin-bottom: 1.5rem; }
  @media (min-width: 37.5em) {
    .header4 {
      font-size: 1.25rem;
      line-height: 3rem; } }
  @media (min-width: 37.5em) {
    .header4 {
      font-size: 1.25rem;
      line-height: 3rem; } }
  @media (min-width: 56.25em) {
    .header4 {
      font-size: 1.333rem;
      line-height: 3rem; } }
  @media (min-width: 75em) {
    .header4 {
      font-size: 1.5rem;
      line-height: 3rem; } }
  @media (min-width: 100em) {
    .header4 {
      font-size: 1.5rem;
      line-height: 3rem; } }

sup, sub {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  display: inline-block; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

.u-block--center {
  margin: 0 auto !important; }

.u-align--left {
  text-align: left !important; }

.u-align--right {
  text-align: right !important; }

.u-align--center {
  text-align: center !important; }

.u-float--left {
  float: left !important; }

.u-float--right {
  float: right !important; }

.u-block {
  display: block !important; }

.u-inline {
  display: inline !important; }

.u-inline-block {
  display: inline-block !important; }

.u-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.u-relative {
  position: relative; }

.u-absolute {
  position: absolute; }

.u-full-width {
  width: 100%; }

.u-text-lowercase {
  text-transform: lowercase; }

.u-text-uppercase {
  text-transform: uppercase; }

.u-text-capitalize {
  text-transform: capitalize; }

.u-text-decoration--none {
  text-decoration: none; }

.u-hidden {
  display: none;
  visibility: hidden; }

.u-hidden-visually {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden; }

.button {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s; }

.button--simple {
  border-style: none; }

.button--ghost {
  background: none;
  border-style: solid;
  border-width: 0.1875rem;
  border-radius: 0.1875rem; }

.button--small {
  padding: 0.375rem;
  font-size: 0.8rem;
  line-height: 1.5rem; }
  @media (min-width: 37.5em) {
    .button--small {
      font-size: 0.8rem;
      line-height: 1.5rem; } }
  @media (min-width: 37.5em) {
    .button--small {
      font-size: 0.8rem;
      line-height: 1.5rem; } }
  @media (min-width: 56.25em) {
    .button--small {
      font-size: 0.75rem;
      line-height: 1.5rem; } }
  @media (min-width: 75em) {
    .button--small {
      font-size: 0.667rem;
      line-height: 1.5rem; } }
  @media (min-width: 100em) {
    .button--small {
      font-size: 0.667rem;
      line-height: 1.5rem; } }

.button--medium {
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem; }
  @media (min-width: 37.5em) {
    .button--medium {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media (min-width: 37.5em) {
    .button--medium {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media (min-width: 56.25em) {
    .button--medium {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media (min-width: 75em) {
    .button--medium {
      font-size: 1rem;
      line-height: 1.5rem; } }
  @media (min-width: 100em) {
    .button--medium {
      font-size: 1rem;
      line-height: 1.5rem; } }

.button--large {
  padding: 0.75rem;
  font-size: 1.25rem;
  line-height: 3rem; }
  @media (min-width: 37.5em) {
    .button--large {
      font-size: 1.25rem;
      line-height: 3rem; } }
  @media (min-width: 37.5em) {
    .button--large {
      font-size: 1.25rem;
      line-height: 3rem; } }
  @media (min-width: 56.25em) {
    .button--large {
      font-size: 1.333rem;
      line-height: 3rem; } }
  @media (min-width: 75em) {
    .button--large {
      font-size: 1.5rem;
      line-height: 3rem; } }
  @media (min-width: 100em) {
    .button--large {
      font-size: 1.5rem;
      line-height: 3rem; } }

.button--fullwidth {
  width: 100%;
  text-align: center; }

.button--halfwidth {
  width: 50%;
  text-align: center; }

.button--primary {
  background-color: #6600cc;
  color: white; }
  .button--primary:hover {
    background-color: #4d0099; }

.button--secondary {
  background-color: #99ffbb;
  color: black; }
  .button--secondary:hover {
    background-color: #00cc44; }

.button--tertiary {
  background-color: #f2f2f2;
  color: black; }
  .button--tertiary:hover {
    background-color: #8c8c8c; }

.button-ghost--primary {
  border-color: #6600cc;
  color: black; }
  .button-ghost--primary:hover {
    color: white;
    background-color: #6600cc; }

.button-ghost--secondary {
  border-color: #00cc44;
  color: black; }
  .button-ghost--secondary:hover {
    background-color: #00cc44; }

.button-ghost--tertiary {
  border-color: #bfbfbf;
  color: black; }
  .button-ghost--tertiary:hover {
    background-color: #bfbfbf; }

.button-group {
  margin-bottom: 1.5rem; }

.link {
  display: inline-block;
  margin-bottom: 1.5rem; }

.link--regular {
  color: black; }
  .link--regular:visited {
    color: #bfbfbf; }
  .link--regular:hover {
    color: #6600cc; }
  .link--regular:active, .link--regular:focus {
    color: white; }

.link--subtle {
  color: #bfbfbf; }
  .link--subtle:visited {
    color: #8c8c8c; }
  .link--subtle:hover {
    color: #6600cc; }
  .link--subtle:active, .link--subtle:focus {
    color: white; }

.link--dark {
  color: black; }
  .link--dark:visited {
    color: #bfbfbf; }
  .link--dark:hover {
    color: #6600cc; }
  .link--dark:active, .link--dark:focus {
    color: white; }

.link--phone {
  text-decoration: none; }
  .link--phone {
    color: black; }
    .link--phone:visited {
      color: #bfbfbf; }
    .link--phone:hover {
      color: #6600cc; }
    .link--phone:active, .link--phone:focus {
      color: white; }
  .link--phone::before {
    content: '\260e';
    margin-right: .5em; }

.list {
  list-style-position: inside; }

.list--none {
  list-style-type: none; }

.list--disc {
  list-style-type: disc; }

.list--circle {
  list-style-type: circle; }

.border--solid {
  border-style: solid; }

.border--dashed {
  border-style: dashed; }

.border--dotted {
  border-style: dotted; }

.border-width--thin {
  border-width: 0.1875rem;
  padding-top: 1.3125rem;
  padding-bottom: 1.3125rem; }

.border-width--medium {
  border-width: 0.3125rem;
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem; }

.border-width--thick {
  border-width: 0.4375rem;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem; }

.bordertop-width--thin {
  border-top-width: 0.1875rem;
  padding-top: 1.3125rem; }

.bordertop-width--medium {
  border-top-width: 0.3125rem;
  padding-top: 1.1875rem; }

.bordertop-width--thick {
  border-top-width: 0.4375rem;
  padding-top: 1.0625rem; }

.borderbottom-width--thin {
  border-bottom-width: 0.1875rem;
  padding-bottom: 1.3125rem; }

.borderbottom-width--medium {
  border-bottom-width: 0.3125rem;
  padding-bottom: 1.1875rem; }

.borderbottom-width--thick {
  border-bottom-width: 0.4375rem;
  padding-bottom: 1.0625rem; }

.borderleft-width--thin {
  border-left-width: 0.1875rem; }

.borderleft-width--medium {
  border-left-width: 0.3125rem; }

.borderleft-width--thick {
  border-left-width: 0.4375rem; }

.borderright-width--thin {
  border-right-width: 0.1875rem; }

.borderright-width--medium {
  border-right-width: 0.3125rem; }

.borderright-width--thick {
  border-right-width: 0.4375rem; }

.border-color--black {
  border-color: black; }

.border-color--grey {
  border-color: #bfbfbf; }

.border-radius--small {
  border-radius: 0.1875rem; }

.border-radius--medium {
  border-radius: 0.3125rem; }

.border-radius--large {
  border-radius: 0.625rem; }

.border-radius--circle {
  border-radius: 50%; }
