
.sg-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sg-sectionborder {
  border: 1px #D9D9D9 solid;
  margin-bottom: 0;
}

.sg-paddingleft--medium {
  padding-left: 10px;
}

.sg-paddingright--medium {
  padding-right: 10px;
}

.sg-padding--large {
  padding: 20px;
}
